<div class="success-container">
    <mat-card class="success-card">
        <div class="success-icon">
            <div class="circle"[@scaleIn]>

             <mat-icon>check</mat-icon>
                </div>  
            </div>

            <h1>Verfication Successful!</h1>
            <p>Your KYC Verfication has been completed successfully.A confirmation email is being sent to your email account.</p>
            <!-- <button mat-raised-button color="primary" (click)="onFinish()">Finish</button> -->
        </mat-card>
</div>
